@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 20, 20;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229, 229, 229;
    --background-rgb: 23, 23, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

li a {
  display: inline-block;
  transition: color 0.2s ease, transform 0.3s ease;
}

li a:hover {
  color: gray;
  transform: translateX(4px);
}

.img-hover-zoom {
  transition: transform 0.2s ease; /* Smooth transition */
}

.img-hover-zoom:hover {
  transform: scale(1.05); /* Zoom in slightly */
}