@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 20, 20;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 229, 229, 229;
  --background-rgb: 23, 23, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

li a {
  display: inline-block;
  transition: color 0.2s ease, transform 0.3s ease;
}

li a:hover {
  color: gray;
  transform: translateX(4px);
}

code {
  background-color: rgb(225, 225, 225);
  font-family: monospace;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  border-bottom: 2px solid #3B82F6; /* Tailwind blue-500 */
}

.dark code {
  background-color: rgb(50, 50, 50)
}